NODE_ENV=development
PORT=3105
MONGO_URI=
JWT_SECRET=
STAFF_SERVICE_URL=
STAFF_SERVICE_INTERNAL_KEY=
INTERNAL_SERVICE_KEY=
CORS_ORIGINS=
ALLOW_NEGATIVE_STOCK=false
STAFF_EMPLOYEE_BASE_PATH=/api/employees
